{% extends 'layout.twig' %}

{% block body %}
  <p style="text-align: center;"><img src="/favicon.png" alt="Our wonderful emblem !"  ></p>
  <h1 style="text-align: center;color:black">Error {{error.status}} : {{message}} </h1>
{% endblock %}
